apscheduler==3.10.4
beautifulsoup4==4.12.3
fastapi==0.110.0
openai==1.52.2
pandas==2.2.2
pillow==10.4.0
playwright==1.40.0
psycopg2-binary==2.9.9
pydantic==2.6.3
pydantic_settings==2.2.1
python-dotenv==1.0.1
python-multipart==0.0.9
requests==2.31.0
sqlalchemy==2.0.30
streamlit==1.39.0
uvicorn==0.29.0
weaviate-client==4.9.0